.resume-header {
    background-color: #434E5E;
    color: rgba(255,255,255,0.9);
    flex-wrap: wrap;
    border-radius: 5px;
}

.resume-header a {
    color: rgba(255,255,255,0.6);
    
}

.resume-wrapper {
    margin: 0 auto;
    max-width: 65vw;
}

.main-info {
    flex-direction: column;
    display: block;
    
}
.secondary-info {
    flex-direction: row;
    display: flex;
    padding: 3vh;
    align-items: flex-end;
    max-width: 500px;

}

.secondary-info img{
    max-width: 30px;
    max-height: 30px;
    margin: 10 10 10 10;
}
.links {
    align-items: flex-start;
}

.row {
    padding: 5vh;
}

hr {
    
    width: 100%;
    height: 1px black;
    border: 1px solid black;

}


#skills{
    
    gap: 10px;
}

.work { 
    align-items: flex-start;
}

.dates {
    color: rgba(0,0,0,0.6)
} 

#skills p {
    margin-bottom: 0px;
    margin-top: 10px;
}

#skills div {
    margin-bottom:
}

.progress {
    margin-bottom: 10px;
}
.labels {
    font-size: 1.25em;
}

#box1 {
    bo
}