/* ======= GENERAL ======== */
body {
    background: url(/img/background.png) no-repeat center center fixed;
    background-size: cover;

    height: 100%;
}

  .projects {
    justify-content: space-between;
    align-items: flex-start;
    width: 80vw;
    
  }

  


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
    font-size: 1vh;
}

    
.navbar{
    background-color: rgba(255,255,255,0.1);
}



#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(239,239,240,0.3);
    backdrop-filter: blur(20px);
    min-height: 80vh;
    
    
}
 
.boxes {
    display: none;
    min-width: 100px;
    min-height: auto;
    max-width: 200px;
    max-height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 8px;
}

.pics {
    max-width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.boxes:first-of-type{
    display: block;
}

.picture-box{
    align-items: center;
    justify-content: center;
}

.text-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxes img, .pics img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    animation: fadeIn 5s;
    box-shadow: 0 0 8px 
}

a {
    text-decoration: none;
    color: black;
}

.picture-box h2 {
    text-align: center;
    margin-top: 20px;
}

.projects a {
    font-size: 1.3em;
    font-weight: bold;
}



article {
    max-width: 500px;
}